.dark{
    header{
        background: #37383C;

        nav{
            border-top-color: black;
            background: #37383C;

            background:37383C ;
            .container-menu{
                .pages-menu{
                    background: black;
                    input{
                        border-color: #fff;
                    }
                    span{
                        color:#fff;
                    }
                }
            }
        }
    }
    section.search{
            background: #37383C;
            h1{
                color: #fff;
            }

            .ctn-suger{
                border-color: #fff;
                span{
                    color: #ffff;
                }
            }
            .ctn-tendencias{
                h2,p{
                    color: #fff;
                }
            }
    }
    section.slider-trending{
        background: #222326;
        h2,p{
            color:#fff;
        }
    }
    footer.footer{
        background: #37383C;
        border-bottom-color: #000;
        .social-media
        h3,span{
            color: #fff;
        }
    }
}