$color-primary: #572EE5;
$color-second: #50E3C2;
$color-text: #000000;
$color-title: #ffffff;

.footer{
    border-bottom: 5px solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    .share{
        margin: 47px 0 23px 0;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
    .noc-facebook,.hover-facebook,.noc-twitter,.hover-twitter,.noc-instagram,.hover-instagram{
        display: none;
    }
    .img-social{
        width: auto;
        display: flex;
        .twitter{
            margin: 0 20px 0 20px;
        }
        .twitter:hover{
            .normal-twitter{
                display: none;
            }
            .hover-twitter{
                display: block;
            }
        }
        .facebook:hover{
            .normal-facebook{
                display: none;
            }
            .hover-facebook{
                display: block;
            }
        }
        .instagram:hover{
            .normal-instagram{
                display: none;
            }
            .hover-instagram{
                display: block;
            }
        }
    }

    .autor{
        margin: 46px 0 23px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
    }
}


//media query para footer destok
@media (min-width:1200px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        height: 111px;
        padding: 0 156px 0 156px;
        .share{
            margin: 0 17px 0px 0;
            font-size: 13px;
        }
        .social-media{
            display: flex;
        }
        .img-social{
            .twitter{
                margin: 0 20px 0 20px;
            }
           
        }
    
        .autor{
            margin: 0 0 0 0;
            font-size: 13px;
        }
    }
}