* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  position: relative;
}

.letter-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.underline:hover {
  -webkit-text-decoration: underline 3px #50E3C2;
          text-decoration: underline 3px #50E3C2;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

input[type=search], input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type=search], input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type=search], input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type=search], input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
}

header nav {
  border-top: 5px solid #572EE5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header nav .destok {
  display: none;
}

header nav .img-logo {
  margin-left: 20px;
}

header nav .crear-gif {
  display: none;
}

header nav .crear-gif .create-hover {
  display: none;
}

header nav .container-menu {
  margin-right: 26px;
}

header nav .container-menu label {
  width: auto;
  height: 14px;
}

header nav .container-menu .button-burguer {
  position: absolute;
  opacity: 0;
}

header nav .container-menu .burguer-close {
  display: none;
}

header nav .container-menu input:checked ~ .pages-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .container-menu input:checked ~ label .burguer-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .container-menu input:checked ~ label .burguer {
  display: none;
}

header nav .container-menu .pages-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #572EE5;
  width: 100%;
  height: 500px;
  left: 0;
  top: 95px;
  outline: none;
}

header nav .container-menu .pages-menu .ctn-input-nav, header nav .container-menu .pages-menu .modo-ligth {
  display: none;
}

header nav .container-menu .pages-menu span {
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}

header nav .container-menu .pages-menu span:nth-child(4) {
  position: relative;
}

header nav .container-menu .pages-menu span:nth-child(4)::before {
  opacity: .5;
  top: -12px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  content: "";
  height: 2px;
  width: 41px;
  background: #ffffff;
}

header nav .container-menu .pages-menu span:nth-child(4)::after {
  opacity: .5;
  bottom: -12px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  content: "";
  height: 2px;
  width: 41px;
  background: #ffffff;
}

header nav .container-menu .pages-menu span:first-child {
  margin-top: 32px;
}

@media (min-width: 750px) {
  .letter-nav {
    color: #572EE5;
  }
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  header nav .destok {
    display: none;
  }
  header nav .img-logo {
    margin-left: 20px;
  }
  header nav .container-menu {
    margin-right: 26px;
    height: 100%;
  }
  header nav .container-menu .button-burguer {
    display: none;
  }
  header nav .container-menu .button-menu {
    display: none;
  }
  header nav .container-menu .pages-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    outline: none;
  }
  header nav .container-menu .pages-menu .modo-ligth {
    display: none;
    text-align: center;
  }
  header nav .container-menu .pages-menu .ctn-input-nav {
    position: relative;
    max-width: 350px;
    width: 334px;
  }
  header nav .container-menu .pages-menu .ctn-input-nav .input-nav {
    width: 100%;
    position: relative;
    padding-left: 15px;
    background: #ffffff;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #572EE5;
  }
  header nav .container-menu .pages-menu .ctn-input-nav .img-button-nav {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
  }
  header nav .container-menu .pages-menu span {
    text-align: center;
    margin: 0 25px 0 0;
  }
  header nav .container-menu .pages-menu span:nth-child(4) {
    position: relative;
  }
  header nav .container-menu .pages-menu span:nth-child(4)::before {
    display: none;
    opacity: .5;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    content: "";
    height: 2px;
    width: 41px;
    background: #ffffff;
  }
  header nav .container-menu .pages-menu span:nth-child(4)::after {
    display: none;
    opacity: .5;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    content: "";
    height: 2px;
    width: 41px;
    background: #ffffff;
  }
  header nav .container-menu .pages-menu span:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .letter-nav {
    color: #572EE5;
  }
  header nav .destok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .crear-gif:hover .create-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .crear-gif:hover .create-normal {
    display: none;
  }
  header nav .img-logo {
    margin-left: 156px;
  }
  header nav .container-menu {
    margin-right: 156px;
  }
  header nav .container-menu .pages-menu .modo-ligth {
    display: none;
  }
  header nav .container-menu .pages-menu .ctn-input-nav {
    width: 334px;
    max-width: 350px;
  }
  header nav .container-menu .pages-menu .ctn-input-nav .input-nav {
    width: 100%;
    background: #ffffff;
    height: 50px;
    border-radius: 25px;
    outline: none;
  }
  header nav .container-menu .pages-menu span {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=nav.css.map */