$color-primary: #572EE5;
$color-second: #50E3C2;
$color-text: #000000;
$color-title: #ffffff;
.fx{
    display: flex;
}
.wb{
    display: -webkit-box;
}
.slider-trending{
    background: #F3F5F8;
     display:flex;
     flex-direction: column;
    .title-slider{
        margin-top: 46px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        color: $color-primary;
    }
    .new{
        white-space: pre-line;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        margin: auto;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 23px;
    }
    .container-slider{
        margin-top: 32px;
        margin-bottom: 82px;
        justify-content: center;
        .sliders{
            width: 243px;
            height: 187px;
        }
        .ctn-sliders{
            overflow: hidden;
            width: 80%;
            height: 187px;
            .ctn-result{
                
                    margin: 10px;
                    width: 243px;
                    height: 187px;
                    position: relative;
                    &::after{
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: "";
                        background: #572EE5;
                        opacity: 0.7;
                        position: absolute;
                        z-index: 2;
                    }
                    img{
                        z-index: 5;
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }
                    .ctn-icon{
                        z-index: 3;
                        display: flex;
                        position: absolute;
                        width: auto;
                        top: 10px;
                        right: 10px;
                        .like,.download,.big{
                            width: 32px;
                            height: 32px;
                            &:nth-child(2){
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .title-autor,.title-gif{
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 3;
                        text-align: left;
                    }
                    .title-autor{
                        font-size:15px;
                        padding: 0 0 40px 10px ;
                
                    }
                    .title-gif{
                        font-size: 13px;
                        font-weight: bold;
                        padding: 0 0 22px 10px ;
                    }
                
            }
        }
    }
}

//media query para section de slider

@media (min-width: 1200px){
    .slider-trending{
        .title-slider{
            margin-top: 67px;
            font-size: 25px;
        }
        .new{
            font-size: 18px;
        }
        .container-slider{
            margin-top: 53px;
            margin-bottom: 182px;
            .sliders{
                width: 357px;
                height: 275px;
            }
        }
    }
}